<!doctype html>
<html lang="en"  xmnls:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>Document</title>
</head>
<body>

<section >
	<h1>This is about page</h1>
	<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos itaque placeat cupiditate hic tempora eius porro voluptate. Architecto nesciunt atque voluptates ipsum voluptas. Doloribus cum ea voluptas possimus error vel culpa quo est quaerat a iste eaque deleniti quisquam nemo.</h3>

</section>
	
</body>
</html>